@import './src/vars.module.scss';

.portfolio {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-color);
  color: var(--white-color);
  padding: 61px 188px;
  font-family: var(--font-outfit);
  font-size: 30px;
  font-weight: 600;

  span {
    z-index: 2;
  }

  img {
    display: none;}
    
  ul {
    display: flex;
    list-style: none;
    gap: 47px;
    font-size: 25px;
    font-weight: 500;
  }
}

@media screen and (max-width: 900px) {
  .portfolio {
    padding: 61px 22px;

    img {
      display: flex;
    }

    ul {
      position: absolute;
      top: 112px;
      right: 22px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 30px;
      background: linear-gradient(rgba(25, 55, 109, 0.2), rgba(25, 55, 109, 1));
      border-radius: 10px;
      text-align: center;
    }

    li {
      background-color: transparent;
    }

    ul {
      display: none;
    }

    .menuOpen {
      display: flex;
    }

    .menuClose {
      display: none;
    }
  }
  
}
